<template>
  <div class="registration-form">
    <slot></slot>
    <form @submit.prevent="onSubmit" novalidate>

      <div class="mb-3">
        <label for="vaccine" class="form-label">Vaccine</label>
        <select
          class="form-select"
          id="vaccine"
          v-model="form.vaccineId"
          @change="resetDate"
        >
          <option disabled value="">Choose vaccine</option>
          <option v-for="vaccine in vaccines" :key="vaccine.id" :value="vaccine.id">{{ vaccine.name }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="center" class="form-label">Center</label>
        <select
          class="form-select"
          id="center"
          v-model="form.centerId"
        >
          <option disabled value="">Choose center</option>
          <option v-for="center in centers" :key="center.id" :value="center.id">
            {{ center.name }} ( {{availableDatesTotalFormatted(center.id, form.vaccineId)}} )
          </option>
        </select>
      </div>

      <div class="mb-3">
        <div class="form-label">Date</div>
        <template v-if="availableDatesByCenterIdVaccineId(form.centerId, form.vaccineId)">
          <div v-for="date in availableDatesByCenterIdVaccineId(form.centerId, form.vaccineId)"
            :key="date"
            class="form-check form-check-inline"
          >
            <input class="form-check-input" type="radio" :id="`${date}-id`" :value="date" v-model="form.date">
            <label class="form-check-label" :for="`${date}-id`">{{date}}</label>
          </div>
        </template>
        <template v-else>
          <span>No dates available</span>
        </template>
      </div>

      <div class="mb-3">
        <label for="patient-name" class="form-label">Full name</label>
        <input type="text" v-model="form.patientName" class="form-control" id="patient-name" placeholder="John Doe">
      </div>

      <div class="mb-3">
        <label for="patient-id" class="form-label">Personal identification number</label>
        <input type="text" v-model="form.patientId" class="form-control" id="patient-id">
      </div>

      <div class="mb-5">
        <button class="btn btn-primary" type="submit" :disabled="!canSubmit">Submit registration</button>
      </div>

    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'RegistrationForm',
  data() {
    return {
      form: {
        vaccineId: '',
        centerId: '',
        date: null,
        patientName: '',
        patientId: ''
      }
    }
  },
  computed: {
    vaccines() {
      return this.$store.state.vaccines.vaccines;
    },
    centers () {
      return this.$store.state.centers.centers
    },
    availableDatesByCenterIdVaccineId () {
      return this.$store.getters['centers/allAvailableDatesByCenterIdVaccineId']
    },
    canSubmit() {
      return this.form.vaccineId 
        && this.form.centerId 
        && this.form.date 
        && this.form.patientName
        && true;
    }
  },
  mounted() {
    this.form.patientId = Date.now();
  },
  methods: {
    availableDatesTotalFormatted(centerId, vaccineId) {
      const dates = this.availableDatesByCenterIdVaccineId(centerId, vaccineId);
      const total = dates.length;
      return total > 0 ? total + ' dates available': 'n/d';
    },

    resetDate() {
      this.form.date = null;
    },

    resetForm() {
      this.form = {
        vaccineId: '',
        centerId: '',
        date: null,
        patientName: '',
        patientId: Date.now()
      }
    },

    onSubmit() {
      const patientData = {
        fullName: this.form.patientName,
        id: this.form.patientId,
        centerId: this.form.centerId,
        vaccineId: this.form.vaccineId,
        date: this.form.date
      };

      const resourceRequestParams = {
        centerId: this.form.centerId,
        date: this.form.date,
        patientId: this.form.patientId
      };

      this.registerPatient(patientData);
      this.reserveResource(resourceRequestParams);
      this.resetForm();
    },

    ...mapActions({ 
      registerPatient: 'patients/register',
      reserveResource: 'centers/reserveResource'
    })
  }
}
</script>