<template>
  <div id="app">
    <div class="wrapper">
      <CenterInformation />
      <hr/>
      <RegistrationForm>
        <h2>Registration form</h2>
      </RegistrationForm>
    </div>
  </div>
</template>

<script>
import CenterInformation from '@/components/CenterInformation.vue'
import RegistrationForm from '@/components/RegistrationForm.vue'

export default {
  name: 'App',
  components: {
    CenterInformation,
    RegistrationForm
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}
</style>
